<!-- <div>
    <form  #recipeForm="ngForm" (ngSubmit)="submitForm(recipeForm)">
        <div>
            <label for="title" class="mr-2">Title</label>
            <input ngModel name="title" class="rounded p-2 border border-gray-100" type="text" id="title" required>
        </div>
        <div>
            <label for="description" class="mr-2">Description</label>
            <textarea ngModel name="description"></textarea>
        </div>
        <div>
            <label  for="prepTime" class="mr-2">Prep time</label>
            <input name="prepTime" ngModel class="rounded p-2 border border-gray-100" type="text" id="prepTime">
        </div>
        <div>
            <label for="servings" class="mr-2">Servings</label>
            <input name="servings"  ngModel class="rounded p-2 border border-gray-100" type="text" id="servings">
        </div>
        <div>
            Directions
            <div *ngFor="let direction of directions; let i = index">
                <label for="servings" class="mr-2">Servings</label>
                <input name="direction"  ngModel class="rounded p-2 border border-gray-100" type="text" id="servings">
            </div>
            <button type="submit" (click)="addDirection()" type="button" class="px-2 py-1 rounded bg-purple-700 text-purple-50">Add instruction</button>
        </div>
        <div>
            <button type="submit" class="px-2 py-1 rounded bg-purple-700 text-purple-50">Submit</button>
        </div>
    </form>
</div> -->
