<div *ngIf="recipe" class="lg:grid lg:grid-cols-3">
    
    <div class="bg-white shadow-xl h-full m-4 rounded-lg">
        <div class="text-white bg-gradient-to-r from-purple-700 to-purple-500 p-4 rounded-t-lg header text-sm">
            <h1 class="mb-4 text-3xl font-serif italic flex justify-between">{{ recipe.title }}
                <a class="text-sm rounded border-2 border-white px-3 py-1" [routerLink]="['edit']">Edit</a>
            </h1>
            <div>Prep time: {{ recipe.prepTime }}</div>
            <div>Cook time: {{ recipe.cookTime }}</div>
            <div>Servings: {{ recipe.servings }}</div>
        </div>
        <div class="p-4">
            <h2 class="text-2xl font-bold text-yellow-700 font-serif mb-2">Ingredients</h2>
            <ul class="list-inside text-gray-600">
                <li *ngFor="let ing of recipe.ingredients" class="py-1 list-style-disc mb-1 p-2 border-b flex justify-between">
                    <span class="text-purple-700">{{ ing.amount }} {{ ing.measurement }} {{ ing.name }}</span>
                    <div *ngIf="isSpecial(ing)" class="text-sm w-1/2 flex">
                       
                        <div>
                            {{ isSpecial(ing).title  }} - 
                            <span class="italic">{{ isSpecial(ing).type  }}</span> <br>
                            {{ isSpecial(ing).text  }} <br>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 flex-shrink-0 text-yellow-600" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>

    <div class="col-span-2 p-4">
       
        <div>
            Posted on {{ recipe.postDate }}
        </div>
        <h2 class="text-2xl font-bold text-yellow-700 font-serif mb-2">Instructions</h2>
        <ul>
            <li *ngFor="let direction of recipe.directions; let i = index" class="px-3 py-1 mb-4 text-gray-700">
                <span class="text-xl">
                    Step
                    <span class="w-6 h-6 mt-1 rounded-full flex-shrink-0 bg-purple-600 font-sm text-white inline-flex items-center justify-center">{{i + 1}}</span>
                </span>
                 
                <span *ngIf="direction.optional"> (optional)</span>
                <br>
                {{ direction.instructions }}
                
            </li>
        </ul>
    </div>
   
    
    
</div>
